PORT=8080
APP_ENV=local
BLUEPRINT_DB_HOST=postgres
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=sentinel
BLUEPRINT_DB_USERNAME=sentinel
BLUEPRINT_DB_PASSWORD=sentinel
BLUEPRINT_DB_SCHEMA=public
REDIS_HOST=localhost
REDIS_PORT=6379
CACHED_RULE_TTL=60
